.upload-history-modal {
  .modal-body {
    height: 400px;
    overflow: auto;
    background: $snow-drift;

    .item {
      background: #fff;
      box-shadow: $box-shadow;
      border-radius: 6px;
      margin-bottom: 10px;
      padding: 10px;
      display: grid;
      grid-gap: 4px;
      grid-template-columns: 1fr 50px;

      .item-info {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        white-space: nowrap;
        overflow: hidden;

        .filename {
          font-weight: 400;
          margin-bottom: 4px;
        }

        .link {
          font-size: 14px;
          font-weight: 300;
        }
      }

      .copy {
        display: flex;
        align-items: center;
      }
    }
  }
}
