.queue {
  width: $width;
  margin: 10px auto 20px auto;

  .queue-menu {
    display: flex;
    margin: 10px 0;
    justify-content: flex-end;

    a {
      margin-left: 20px;
    }
  }

  .task {
    background: #fff;
    box-shadow: $box-shadow;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;

    .icon-indicator {
      color: $silver;
      margin-right: 10px;
      opacity: 0.7;

      &.done {
        opacity: 1;
        color: $primary;
      }

      &.failed {
        color: red;
      }

      svg {
        height: 50px;
      }
    }

    .task-info {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .filename {
        font-weight: 400;
        margin-bottom: 4px;
      }

      .link, .status, .failed {
        font-size: 14px;
        font-weight: 300;
      }

      .status {
        color: $silver;
      }

      .failed {
        color: red;
      }
    }

    .progress-indicator, .copy {
      display: flex;
      align-items: center;
    }
  }
}
